---
---

@import "{{ site.theme }}";

section {
  width:600px;
}

header {
  width:200px;
}

header ul { list-style: none; 
  padding: 0; 
  background: none; 
  border-radius: none; 
  border: none; 
  width: 200px; 
}

header li { 
  width: 199px; 
  float: left; 
  height: 40px;
  background: #f4f4f4; 
  border-radius: 5px;
  border-right: 1px solid #000000; 
}

header ul li + li + li { 
  width: 199px; 
  float: left; 
  height: 40px;
  background: #f4f4f4; 
  border-radius: 5px;
  border-right: 1px solid #000000; 
}
